@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@{
    var intro = "Hello!";
    var clock = "The time rightnow is :";
    var currentTime = DateTime.Now;

    }

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@intro</p>
    <p>@clock@currentTime</p>
</div>
